*{
    margin: 0;
}
.navbar{
    padding: 10px;
    background-color: #101010;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar>img{
    height: 30px;
    padding-left: 30px;
    transition: transform 450ms;
}

.navbar>img:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.navbar>p{
    margin-top: 8px;
    color: white;
    padding-right: 5px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navbar>button{
    float: right;
    padding: 8px;
    color: white;
    border-radius: 2px;
}

.sign{
    margin-right: 20px;
    color: #fff;
    font-weight: 400;
    background-color: #101010;
    border: 1px solid #888;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 13px;
    transition: transform 450ms;
}

.sign:hover{
    cursor: pointer;
    background-color: gainsboro;
    color: black;    
    transform: scale(1.10);

}

.join{
    margin-right: 5px;
    margin-left: 5px;
    background-color: red;
    border: none;
    transition: transform 450ms;
    
}

.join:hover{
    cursor: pointer;
    transform: scale(1.10);

}

.navbar>button:hover{
    cursor: pointer;
}

body{
    background-color: #202020;
}

.heading>h1{
    padding-top: 30px;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 1000;
}

.heading>p{
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}

.heading{
    padding-left: 35px;
}

.main{
    padding-bottom: 50px;
}

.main>h1{
    
    padding-top: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-left: 31px;

}

.main>img{
    padding-top: 30px;
    padding-right:5px;
    padding-left: 25px;
    transition: transform 450ms;
}

.main>img:hover{
    transform: scale(1.10);
    cursor: pointer;
}